@media (min-width: 320px) {
    .forecast {
        &__title {
            padding-top: 52px;
        }
        h1 {
            font-weight: normal;
            line-height: 24px;
            padding-top: 16px;
        }
        &__btn {
            margin-top: 32px;
        }
        &__diagramm {
            border: 2px solid $main-color;
            border-radius: 18px;
            margin: 42px auto;
            padding: 23px 20px 17px;
            width: 280px;
        }
        &__weight {
            padding-top: 24px;
            position: relative;
        }
        &__scale {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .line {
                border: 1px solid #E1E1E1;
                width: 213px;
                
            }
        }
        &__line {
            position: absolute;
            top: 53px;
            right: 0;
        }
        &_months {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 17px;
        }
        &__plans {
            position: relative;
        }
        &__plan {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
            border: 2px solid $main-color;
            border-radius: 20px;
            padding: 15px 40px 16px 23px;
            position: relative;
            background-color: #fff;
            z-index: 10;
            &::before {
                content: '';
                position: absolute;
                top: 0; 
                left: 0;
                width: 70px;
                height: 100%;
                background: $main-color;
                border-radius: 16px;
                z-index: -1;
            }
        }
        &__text {
            padding-left: 41px;
            line-height: 24px;
            color: $text-color;
        }

        &__circle {
            position: absolute;
            top: 65%;
            right: -40px;
            background-color: $main-color;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            z-index: -1;
        }
        &__semicircle {
            position: absolute;
            top: 85%;
            right: -135px;
            background-color: $main-color;
            width: 335px;
            height: 325px;
            border-radius: 100% 0 0 0;
            z-index: -1;
        }
        &__girl {
            position: absolute;
            top: 88%;
            right: -10px;
            z-index: 20;
        }
    }
}


@media (min-width: 576px) {
    .forecast {
        &__circle {
            // top: 280px;
        }
    }
}


@media (min-width: 768px) {
    .forecast {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: minmax(245px, auto);
            grid-auto-rows: minmax(245px, auto);
            column-gap: 20px;
        }
        &__plans {
            grid-row: 1/2;
            grid-column: 2/3;
            margin-top: 55px;
        }
        &__info {
            margin-top: 70px;
        }
        &__title {
            padding-top: 0;
        }
        h1, &__btn {
            padding-top: 22px;
        }
        &__diagramm {
            margin: 46px 0;
            width: 100%;    
        }
        &__circle {
            top: 30%;
        }
        &__semicircle {
            top: 48%;
        }
        &__girl {
            top: 50%;
        }
        .line {
            width: 283px;
        }
        &__line {
            right: 37px;
        }
    }
}

