.promo {
    min-height: 100vh;
    background: url("../img/main_bg.jpg") no-repeat 50%/cover;
    padding-top: 206px;
    position: relative;
    &__title {
        width: 503px;
    }
    &__subtitle {
        padding-left: 10px;
        position: relative;
        z-index: 2;
        @include befor_circle(0, -25%);

    }
    &__btns {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-weight: bold;
        font-size: 14px;
        color: $title-color;
        padding: 12px 25px;
        &:hover {
            text-decoration: none;
            color: $title-color;
        } 
    }
}